.why-choose-us-container {
    background-color: #f2f2f2;
    padding: 60px 0;
  }
  
  .why-choose-us-header {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .why-choose-us-heading {
    font-size: 3rem;
    font-weight: bold;
    color: #00b894;
    margin-bottom: 20px;
  }
  
  .why-choose-us-subheading {
    font-size: 1.2rem;
    color: #444444;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .why-choose-us-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .why-choose-us-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
  }
  
  .why-choose-us-image-col {
    padding: 0 20px;
  }
  
  .why-choose-us-image {

    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 617px) {
    .why-choose-us-row {
      flex-direction: column;
    }
     
}